In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
## Loading the dataset
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
### Preprocessing the data
## Drop irrelevant features
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
### Encoding the categorical variables
label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [9]:
## Applying One-hot encoding to the Geography column
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [10]:
geo_encoder = geo_encoder.toarray()

In [11]:
one_hot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoded_df = pd.DataFrame(geo_encoder, columns=one_hot_encoder_geo.get_feature_names_out())
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [13]:
# Combining the encoded columns with the original dataset
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
# Saving the encoders
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

In [15]:
## Splitting the data into independent and dependent features
X = data.drop('Exited', axis=1)
y = data['Exited']

In [16]:
## Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
## Scaling the features
scaler = StandardScaler()

In [18]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [20]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [37]:
### Implementing the ANN
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [38]:
### Building the deep learning model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [39]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [40]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.losses.BinaryCrossentropy()

In [41]:
## Compiling the model
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [42]:
# Setting up the tensorboard
log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [43]:
## Setting up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [44]:
### Training the model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 5s 12ms/step - loss: 0.3956 - accuracy: 0.8349 - val_loss: 0.3625 - val_accuracy: 0.8535
Epoch 2/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3542 - accuracy: 0.8560 - val_loss: 0.3488 - val_accuracy: 0.8595
Epoch 3/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3480 - accuracy: 0.8576 - val_loss: 0.3480 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3424 - accuracy: 0.8579 - val_loss: 0.3454 - val_accuracy: 0.8645
Epoch 5/100
250/250 [==============================] - 3s 12ms/step - loss: 0.3383 - accuracy: 0.8625 - val_loss: 0.3555 - val_accuracy: 0.8570
Epoch 6/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3368 - accuracy: 0.8612 - val_loss: 0.3433 - val_accuracy: 0.8580
Epoch 7/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3365 - accuracy: 0.8641 - val_loss: 0.3458 - val_accuracy: 0.8555
Epoch 8/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3319 - accuracy: 0.8645 - val_loss: 0.3411 - val_accuracy: 0.8540
Epoch 9/100
250/250 [==============================] - 3s 12ms/step - loss: 0.3297 - accuracy: 0.8652 - val_loss: 0.3544 - val_accuracy: 0.8545
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3292 - accuracy: 0.8666 - val_loss: 0.3613 - val_accuracy: 0.8580
Epoch 11/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3277 - accuracy: 0.8666 - val_loss: 0.3652 - val_accuracy: 0.8560
Epoch 12/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3237 - accuracy: 0.8660 - val_loss: 0.3429 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 3s 10ms/step - loss: 0.3205 - accuracy: 0.8680 - val_loss: 0.3696 - val_accuracy: 0.8520
Epoch 14/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3208 - accuracy: 0.8673 - val_loss: 0.3530 - val_accuracy: 0.8655
Epoch 15/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3196 - accuracy: 0.8695 - val_loss: 0.3517 - val_accuracy: 0.8580
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3163 - accuracy: 0.8692 - val_loss: 0.3545 - val_accuracy: 0.8650
Epoch 17/100
250/250 [==============================] - 3s 11ms/step - loss: 0.3128 - accuracy: 0.8700 - val_loss: 0.3554 - val_accuracy: 0.8635
Epoch 18/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3155 - accuracy: 0.8686 - val_loss: 0.3747 - val_accuracy: 0.8545

In [45]:
model.save('model.h5')

c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [46]:
### Laoding the Tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [47]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 15316), started 0:02:34 ago. (Use '!kill 15316' to kill it.)