In [1]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [15]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [17]:
## Encode the categorical Variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder = geo_encoder.toarray()
geo_encoded_df = pd.DataFrame(geo_encoder, columns=one_hot_encoder_geo.get_feature_names_out())
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [18]:
# Combining the encoded columns with the original dataset
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [19]:
### Splitting the data into independent and dependent features
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [20]:
## Splitting the data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [21]:
## Scaling the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
## Saving the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [23]:
## Training the ANN model with respect to the regression problem
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
### Building the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1)    ## output layer for regression
])

## Compiling the model
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 5057 (19.75 KB)
Trainable params: 5057 (19.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Setting up the TensorBoard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [26]:
### Setting up EarlyStopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [28]:
## Training the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 26s 47ms/step - loss: 100323.6484 - mae: 100323.6484 - val_loss: 98300.7109 - val_mae: 98300.7109
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 98794.7656 - mae: 98794.7656 - val_loss: 95245.1406 - val_mae: 95245.1406
Epoch 3/100
250/250 [==============================] - 2s 8ms/step - loss: 93610.2734 - mae: 93610.2734 - val_loss: 87844.2344 - val_mae: 87844.2344
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 84098.0938 - mae: 84098.0938 - val_loss: 76760.2266 - val_mae: 76760.2266
Epoch 5/100
250/250 [==============================] - 8s 34ms/step - loss: 72137.4062 - mae: 72137.4062 - val_loss: 65206.8945 - val_mae: 65206.8945
Epoch 6/100
250/250 [==============================] - 2s 9ms/step - loss: 61379.5664 - mae: 61379.5664 - val_loss: 56735.0625 - val_mae: 56735.0625
Epoch 7/100
250/250 [==============================] - 7s 27ms/step - loss: 54487.1602 - mae: 54487.1602 - val_loss: 52299.6172 - val_mae: 52299.6172
Epoch 8/100
250/250 [==============================] - 3s 11ms/step - loss: 51432.7188 - mae: 51432.7188 - val_loss: 50944.2188 - val_mae: 50944.2188
Epoch 9/100
250/250 [==============================] - 7s 27ms/step - loss: 50467.5664 - mae: 50467.5664 - val_loss: 50646.6719 - val_mae: 50646.6719
Epoch 10/100
250/250 [==============================] - 3s 12ms/step - loss: 50219.4844 - mae: 50219.4844 - val_loss: 50583.9141 - val_mae: 50583.9141
Epoch 11/100
250/250 [==============================] - 9s 37ms/step - loss: 50114.1094 - mae: 50114.1094 - val_loss: 50541.3281 - val_mae: 50541.3281
Epoch 12/100
250/250 [==============================] - 3s 12ms/step - loss: 50042.2070 - mae: 50042.2070 - val_loss: 50507.8438 - val_mae: 50507.8438
Epoch 13/100
250/250 [==============================] - 10s 38ms/step - loss: 49984.5625 - mae: 49984.5625 - val_loss: 50486.6016 - val_mae: 50486.6016
Epoch 14/100
250/250 [==============================] - 5s 22ms/step - loss: 49936.6719 - mae: 49936.6719 - val_loss: 50477.1758 - val_mae: 50477.1758
Epoch 15/100
250/250 [==============================] - 9s 37ms/step - loss: 49895.5938 - mae: 49895.5938 - val_loss: 50452.4883 - val_mae: 50452.4883
Epoch 16/100
250/250 [==============================] - 4s 17ms/step - loss: 49856.6055 - mae: 49856.6055 - val_loss: 50427.2812 - val_mae: 50427.2812
Epoch 17/100
250/250 [==============================] - 4s 18ms/step - loss: 49824.2695 - mae: 49824.2695 - val_loss: 50422.0664 - val_mae: 50422.0664
Epoch 18/100
250/250 [==============================] - 10s 41ms/step - loss: 49793.7266 - mae: 49793.7266 - val_loss: 50403.5273 - val_mae: 50403.5273
Epoch 19/100
250/250 [==============================] - 8s 33ms/step - loss: 49769.0898 - mae: 49769.0898 - val_loss: 50386.3047 - val_mae: 50386.3047
Epoch 20/100
250/250 [==============================] - 6s 26ms/step - loss: 49744.2656 - mae: 49744.2656 - val_loss: 50361.0508 - val_mae: 50361.0508
Epoch 21/100
250/250 [==============================] - 6s 23ms/step - loss: 49723.3594 - mae: 49723.3594 - val_loss: 50368.5977 - val_mae: 50368.5977
Epoch 22/100
250/250 [==============================] - 3s 11ms/step - loss: 49703.4336 - mae: 49703.4336 - val_loss: 50342.7812 - val_mae: 50342.7812
Epoch 23/100
250/250 [==============================] - 5s 22ms/step - loss: 49688.5273 - mae: 49688.5273 - val_loss: 50349.4805 - val_mae: 50349.4805
Epoch 24/100
250/250 [==============================] - 3s 13ms/step - loss: 49669.5664 - mae: 49669.5664 - val_loss: 50334.2148 - val_mae: 50334.2148
Epoch 25/100
250/250 [==============================] - 3s 11ms/step - loss: 49656.2344 - mae: 49656.2344 - val_loss: 50330.9336 - val_mae: 50330.9336
Epoch 26/100
250/250 [==============================] - 3s 12ms/step - loss: 49643.2344 - mae: 49643.2344 - val_loss: 50320.2852 - val_mae: 50320.2852
Epoch 27/100
250/250 [==============================] - 3s 13ms/step - loss: 49624.6094 - mae: 49624.6094 - val_loss: 50320.2305 - val_mae: 50320.2305
Epoch 28/100
250/250 [==============================] - 2s 8ms/step - loss: 49614.6680 - mae: 49614.6680 - val_loss: 50292.6367 - val_mae: 50292.6367
Epoch 29/100
250/250 [==============================] - 3s 10ms/step - loss: 49602.5234 - mae: 49602.5234 - val_loss: 50302.3945 - val_mae: 50302.3945
Epoch 30/100
250/250 [==============================] - 8s 33ms/step - loss: 49585.8320 - mae: 49585.8320 - val_loss: 50302.2383 - val_mae: 50302.2383
Epoch 31/100
250/250 [==============================] - 2s 8ms/step - loss: 49577.2461 - mae: 49577.2461 - val_loss: 50305.1719 - val_mae: 50305.1719
Epoch 32/100
250/250 [==============================] - 2s 7ms/step - loss: 49564.5391 - mae: 49564.5391 - val_loss: 50291.7617 - val_mae: 50291.7617
Epoch 33/100
250/250 [==============================] - 6s 24ms/step - loss: 49552.2109 - mae: 49552.2109 - val_loss: 50293.1328 - val_mae: 50293.1328
Epoch 34/100
250/250 [==============================] - 8s 30ms/step - loss: 49541.0625 - mae: 49541.0625 - val_loss: 50288.3594 - val_mae: 50288.3594
Epoch 35/100
250/250 [==============================] - 2s 7ms/step - loss: 49527.2812 - mae: 49527.2812 - val_loss: 50298.3242 - val_mae: 50298.3242
Epoch 36/100
250/250 [==============================] - 2s 9ms/step - loss: 49518.6133 - mae: 49518.6133 - val_loss: 50295.3711 - val_mae: 50295.3711
Epoch 37/100
250/250 [==============================] - 2s 8ms/step - loss: 49509.5938 - mae: 49509.5938 - val_loss: 50307.2656 - val_mae: 50307.2656
Epoch 38/100
250/250 [==============================] - 3s 11ms/step - loss: 49501.6016 - mae: 49501.6016 - val_loss: 50300.6172 - val_mae: 50300.6172
Epoch 39/100
250/250 [==============================] - 3s 12ms/step - loss: 49491.1719 - mae: 49491.1719 - val_loss: 50309.3906 - val_mae: 50309.3906
Epoch 40/100
250/250 [==============================] - 2s 10ms/step - loss: 49485.0703 - mae: 49485.0703 - val_loss: 50295.4883 - val_mae: 50295.4883
Epoch 41/100
250/250 [==============================] - 2s 8ms/step - loss: 49473.1523 - mae: 49473.1523 - val_loss: 50277.9375 - val_mae: 50277.9375
Epoch 42/100
250/250 [==============================] - 3s 12ms/step - loss: 49467.8672 - mae: 49467.8672 - val_loss: 50299.7773 - val_mae: 50299.7773
Epoch 43/100
250/250 [==============================] - 3s 14ms/step - loss: 49458.1328 - mae: 49458.1328 - val_loss: 50310.4297 - val_mae: 50310.4297
Epoch 44/100
250/250 [==============================] - 3s 11ms/step - loss: 49453.4609 - mae: 49453.4609 - val_loss: 50300.9531 - val_mae: 50300.9531
Epoch 45/100
250/250 [==============================] - 2s 8ms/step - loss: 49448.7930 - mae: 49448.7930 - val_loss: 50298.0430 - val_mae: 50298.0430
Epoch 46/100
250/250 [==============================] - 2s 8ms/step - loss: 49436.2109 - mae: 49436.2109 - val_loss: 50294.6523 - val_mae: 50294.6523
Epoch 47/100
250/250 [==============================] - 2s 7ms/step - loss: 49429.0273 - mae: 49429.0273 - val_loss: 50302.9570 - val_mae: 50302.9570
Epoch 48/100
250/250 [==============================] - 3s 13ms/step - loss: 49425.4609 - mae: 49425.4609 - val_loss: 50309.5430 - val_mae: 50309.5430
Epoch 49/100
250/250 [==============================] - 2s 10ms/step - loss: 49422.6289 - mae: 49422.6289 - val_loss: 50281.3086 - val_mae: 50281.3086
Epoch 50/100
250/250 [==============================] - 3s 12ms/step - loss: 49410.4961 - mae: 49410.4961 - val_loss: 50298.8828 - val_mae: 50298.8828
Epoch 51/100
250/250 [==============================] - 3s 11ms/step - loss: 49408.9805 - mae: 49408.9805 - val_loss: 50308.4844 - val_mae: 50308.4844

In [29]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit

Launching TensorBoard...