In [9]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [10]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [12]:
## Encode the categorical Variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder = geo_encoder.toarray()
geo_encoded_df = pd.DataFrame(geo_encoder, columns=onehot_encoder_geo.get_feature_names_out())
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [13]:
# Combining the encoded columns with the original dataset
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
### Splitting the data into independent and dependent features
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [15]:
## Splitting the data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [16]:
## Scaling the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
## Saving the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [18]:
## Training the ANN model with respect to the regression problem
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
### Building the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1)    ## output layer for regression
])

## Compiling the model
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 5057 (19.75 KB)
Trainable params: 5057 (19.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Setting up the TensorBoard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [21]:
### Setting up EarlyStopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [22]:
## Training the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 9s 13ms/step - loss: 100312.0391 - mae: 100312.0391 - val_loss: 98261.8594 - val_mae: 98261.8594
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 98664.5312 - mae: 98664.5312 - val_loss: 94990.8516 - val_mae: 94990.8516
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 93118.5234 - mae: 93118.5234 - val_loss: 87151.8203 - val_mae: 87151.8203
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 83154.1016 - mae: 83154.1016 - val_loss: 75814.0078 - val_mae: 75814.0078
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 71013.7188 - mae: 71013.7188 - val_loss: 64400.1016 - val_mae: 64400.1016
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 60494.0469 - mae: 60494.0469 - val_loss: 56307.7109 - val_mae: 56307.7109
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 54058.6055 - mae: 54058.6055 - val_loss: 52423.0156 - val_mae: 52423.0156
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 51272.2188 - mae: 51272.2188 - val_loss: 51106.4648 - val_mae: 51106.4648
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 50394.7773 - mae: 50394.7773 - val_loss: 50761.2930 - val_mae: 50761.2930
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 50138.8008 - mae: 50138.8008 - val_loss: 50659.8125 - val_mae: 50659.8125
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 50030.2812 - mae: 50030.2812 - val_loss: 50605.0312 - val_mae: 50605.0312
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 49962.4766 - mae: 49962.4766 - val_loss: 50572.1602 - val_mae: 50572.1602
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 49915.5312 - mae: 49915.5312 - val_loss: 50541.1914 - val_mae: 50541.1914
Epoch 14/100
250/250 [==============================] - 2s 7ms/step - loss: 49871.4609 - mae: 49871.4609 - val_loss: 50514.2148 - val_mae: 50514.2148
Epoch 15/100
250/250 [==============================] - 2s 8ms/step - loss: 49838.1836 - mae: 49838.1836 - val_loss: 50488.0000 - val_mae: 50488.0000
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 49804.5469 - mae: 49804.5469 - val_loss: 50462.8711 - val_mae: 50462.8711
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 49778.3750 - mae: 49778.3750 - val_loss: 50451.8828 - val_mae: 50451.8828
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49755.1406 - mae: 49755.1406 - val_loss: 50424.5859 - val_mae: 50424.5859
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49724.3633 - mae: 49724.3633 - val_loss: 50410.0938 - val_mae: 50410.0938
Epoch 20/100
250/250 [==============================] - 1s 6ms/step - loss: 49702.7617 - mae: 49702.7617 - val_loss: 50404.2617 - val_mae: 50404.2617
Epoch 21/100
250/250 [==============================] - 1s 6ms/step - loss: 49684.6719 - mae: 49684.6719 - val_loss: 50395.4805 - val_mae: 50395.4805
Epoch 22/100
250/250 [==============================] - 2s 8ms/step - loss: 49662.2227 - mae: 49662.2227 - val_loss: 50380.1562 - val_mae: 50380.1562
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49649.3398 - mae: 49649.3398 - val_loss: 50375.2969 - val_mae: 50375.2969
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49628.8711 - mae: 49628.8711 - val_loss: 50356.8477 - val_mae: 50356.8477
Epoch 25/100
250/250 [==============================] - 2s 6ms/step - loss: 49616.3711 - mae: 49616.3711 - val_loss: 50343.3008 - val_mae: 50343.3008
Epoch 26/100
250/250 [==============================] - 3s 13ms/step - loss: 49602.9414 - mae: 49602.9414 - val_loss: 50338.4648 - val_mae: 50338.4648
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49590.0859 - mae: 49590.0859 - val_loss: 50322.9375 - val_mae: 50322.9375
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 49576.6680 - mae: 49576.6680 - val_loss: 50322.1875 - val_mae: 50322.1875
Epoch 29/100
250/250 [==============================] - 2s 6ms/step - loss: 49567.3164 - mae: 49567.3164 - val_loss: 50307.2656 - val_mae: 50307.2656
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49557.4414 - mae: 49557.4414 - val_loss: 50322.2852 - val_mae: 50322.2852
Epoch 31/100
250/250 [==============================] - 2s 7ms/step - loss: 49544.4219 - mae: 49544.4219 - val_loss: 50303.9570 - val_mae: 50303.9570
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49535.1211 - mae: 49535.1211 - val_loss: 50318.5352 - val_mae: 50318.5352
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 49525.5391 - mae: 49525.5391 - val_loss: 50312.3711 - val_mae: 50312.3711
Epoch 34/100
250/250 [==============================] - 2s 7ms/step - loss: 49514.8438 - mae: 49514.8438 - val_loss: 50309.6289 - val_mae: 50309.6289
Epoch 35/100
250/250 [==============================] - 2s 7ms/step - loss: 49508.2188 - mae: 49508.2188 - val_loss: 50304.5977 - val_mae: 50304.5977
Epoch 36/100
250/250 [==============================] - 2s 6ms/step - loss: 49496.1211 - mae: 49496.1211 - val_loss: 50314.7461 - val_mae: 50314.7461
Epoch 37/100
250/250 [==============================] - 4s 16ms/step - loss: 49492.2695 - mae: 49492.2695 - val_loss: 50304.8555 - val_mae: 50304.8555
Epoch 38/100
250/250 [==============================] - 3s 12ms/step - loss: 49482.8633 - mae: 49482.8633 - val_loss: 50292.8633 - val_mae: 50292.8633
Epoch 39/100
250/250 [==============================] - 2s 9ms/step - loss: 49471.5742 - mae: 49471.5742 - val_loss: 50299.9688 - val_mae: 50299.9688
Epoch 40/100
250/250 [==============================] - 2s 6ms/step - loss: 49466.6641 - mae: 49466.6641 - val_loss: 50290.8008 - val_mae: 50290.8008
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49460.6289 - mae: 49460.6289 - val_loss: 50305.9531 - val_mae: 50305.9531
Epoch 42/100
250/250 [==============================] - 2s 6ms/step - loss: 49451.7969 - mae: 49451.7969 - val_loss: 50295.1055 - val_mae: 50295.1055
Epoch 43/100
250/250 [==============================] - 1s 6ms/step - loss: 49445.2188 - mae: 49445.2188 - val_loss: 50299.7422 - val_mae: 50299.7422
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49440.5156 - mae: 49440.5156 - val_loss: 50318.0586 - val_mae: 50318.0586
Epoch 45/100
250/250 [==============================] - 2s 7ms/step - loss: 49432.7578 - mae: 49432.7578 - val_loss: 50313.3320 - val_mae: 50313.3320
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49424.6562 - mae: 49424.6562 - val_loss: 50306.1406 - val_mae: 50306.1406
Epoch 47/100
250/250 [==============================] - 1s 6ms/step - loss: 49419.5742 - mae: 49419.5742 - val_loss: 50312.5898 - val_mae: 50312.5898
Epoch 48/100
250/250 [==============================] - 2s 6ms/step - loss: 49413.3281 - mae: 49413.3281 - val_loss: 50302.7266 - val_mae: 50302.7266
Epoch 49/100
250/250 [==============================] - 2s 6ms/step - loss: 49411.5977 - mae: 49411.5977 - val_loss: 50311.4570 - val_mae: 50311.4570
Epoch 50/100
250/250 [==============================] - 2s 9ms/step - loss: 49404.5703 - mae: 49404.5703 - val_loss: 50305.9805 - val_mae: 50305.9805

In [23]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11860), started 5 days, 16:22:44 ago. (Use '!kill 11860' to kill it.)

In [25]:
!kill 11860

kill: 11860: No such process

In [26]:
### Evaluating the model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"The test MAE is: {test_mae}")

63/63 [==============================] - 1s 8ms/step - loss: 50290.8008 - mae: 50290.8008
The test MAE is: 50290.80078125

In [27]:
model.save('regression_model.h5')

c:\Users\ADMIN\anaconda3\envs\Newenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

#### Finding Optimal Hidden Layer and Hidden Neural Network

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.pipeline import Pipeline
from scikeras.wrappers import KerasClassifier
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [30]:
data = pd.read_csv('Churn_Modelling.csv')